h1 {
  font-family: Oswald, sans-serif;
  font-size: 300%;
  text-align: center;
  font-weight: bold;
}

.footer {
  font: 70% sans-serif;
  color: grey;
  text-align: center;
}

.paper {
  box-shadow: 5px 10px;
  padding: 100px;
  margin: 10px;
  border: thin solid black;
  font-size: 110%;
  font-family: 'Open Sans Condensed', sans-serif;
  float: left;
  color: black;
  width: 1000px;
}

.gem_list {
 float: left;
 overflow-y: scroll;
 height: 300px;
 font: 12px sans-serif;
 color: grey;
 margin: 10px;
 padding: 10px;
}

.chart_frame {
  float: left;
}

.chart_frame h1 {
  font: 12px sans-serif;
  text-align: center;
}
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
  fill: grey;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
